<h3>Top Heroes</h3>
<form class="form-inline" #heroForm="ngForm">
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" #heroName class="form-control" id="name" name="name" placeholder="" required>
	</div>
	<button type="button"  (click)="search(heroName.value)" class="btn btn-primary">Search</button>
</form>

<button class="btn btn-primary" (click)="create()">Create</button>
<button  class="btn btn-default" [disabled]="!selectedHero" (click)="goToDetail()">Edit</button>
<div class="grid grid-pad">
	<loading-heroes [loaded]="loaded" [hasHeroes]="hasHeroes"></loading-heroes>
  <div *ngFor="let hero of heroes" (click)="selectHero(hero)" class="col-1-4">
    <div class="module hero" [class.selectedDashBoardHero]="hero === selectedHero">
      <h4>{{hero.name}}</h4>
    </div>
  </div>
</div>
