<h2>My Heroes</h2>

<form class="form-inline" #heroForm="ngForm">
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" (keyup.enter)="quickAdd()" class="form-control" [(ngModel)]="quickHero.name" id="name" name="name" placeholder="" required>
	</div>
	<button type="button"  (click)="quickAdd()" [disabled]="!heroForm.form.valid" class="btn btn-default">Quick add</button>
</form>

<div *ngIf="selectedHero" class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Hero Details</h3>
	</div>
	<div class="panel-body">
		<h2>
			{{selectedHero.name | uppercase}} is my hero
		</h2>
		<button class="btn" (click)="gotoDetail()">View Details</button>
	</div>
</div>

<p *ngIf="deletedHero" class="alert alert-danger" role="alert">
	{{deletedHero.name | uppercase }}  deleted !
<p>
<p *ngIf="saving" class="alert alert-success" role="alert">
	Saving Hero
<p>

<loading-heroes [loaded]="loaded" [hasHeroes]="hasHeroes"></loading-heroes>


<div class="list-group">
	<a class="list-group-item list-group-item-action" *ngFor="let hero of heroes" [class.active]="hero === selectedHero" (click)="onSelect(hero)">
			{{hero.name}}
		<button type="button"  (click)="delete(hero); $event.stopPropagation()" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	</a>
</div>
